
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

#add-btn {
    background-color:cadetblue;
    border-radius: 10px;
}

#sub-btn {
    background-color:darkgoldenrod;
    border-radius: 10px;
}

#mul-btn {
    background-color: burlywood;
    border-radius: 10px;
}

#divd-btn {
    background-color: brown;
    border-radius: 10px;
}

#add-num1, #sub-num1, #mul-num1, #divd-num1 {
    background-color:darkseagreen;
    border-radius: 5px;
}

#add-num2, #sub-num2, #mul-num2, #divd-num2 {
    background-color:darksalmon;
    border-radius: 5px;
}

